arq==0.28.0
alembic==1.20.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
bcrypt==4.0.1
click==8.5.0
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.141.1
greenlet==3.5.6
h11==0.16.0
idna==3.20
Mako==1.4.1
MarkupSafe==3.0.3
passlib==1.7.4
PyJWT==2.14.0
psycopg[binary]==3.3.6
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
python-dotenv==1.2.3
python-multipart==0.0.32
six==1.17.0
SQLAlchemy==2.0.54
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.53.0
boto3==1.43.100
cryptography==50.0.1
requests==2.34.2
stripe==15.6.1
